list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}